Repository dynamiqs/dynamiqs, pull requests merged in 2023-03, with the labels that each got.

#31 Accept qutip `QObj` in `mesolve` and ket for `rho0`
  torchqdynamics/mesolve.py
  torchqdynamics/types.py
  torchqdynamics/utils.py
Labels: enhancement, mesolve

#32 Test `mesolve` batching
  .github/workflows/main.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  tests/test_foo.py
  tests/test_mesolve.py
Labels: mesolve, test

#33 Move `mesolve` to a specific folder
  tests/mesolve/__init__.py
  tests/mesolve/test_mesolve.py
  torchqdynamics/__init__.py
  torchqdynamics/mesolve/__init__.py
  torchqdynamics/mesolve/mesolve.py
  torchqdynamics/mesolve/rouchon.py
  torchqdynamics/mesolve/solver_options.py
  torchqdynamics/odeint.py
  torchqdynamics/solver.py
  torchqdynamics/solver_options.py
Labels: mesolve, organization

#34 Rename `ssolve` to `sesolve` and add basic API
  torchqdynamics/__init__.py
  torchqdynamics/sesolve/__init__.py
  torchqdynamics/sesolve/sesolve.py
  torchqdynamics/ssolve.py
Labels: enhancement, sesolve

#36 Euler method for `sesolve`
  tests/sesolve/__init__.py
  tests/sesolve/test_euler.py
  torchqdynamics/sesolve/euler.py
  torchqdynamics/sesolve/sesolve.py
  torchqdynamics/solver.py
  torchqdynamics/solver_options.py
Labels: enhancement, sesolve

#43 Rename types and begin mesolve documentation
  torchqdynamics/mesolve/mesolve.py
  torchqdynamics/mesolve/rouchon.py
  torchqdynamics/odeint.py
  torchqdynamics/sesolve/euler.py
  torchqdynamics/sesolve/sesolve.py
  torchqdynamics/smesolve.py
  torchqdynamics/solver_utils.py
  torchqdynamics/types.py
  torchqdynamics/utils.py
Labels: 📚 documentation, topic: mesolve

#40 New logo
  media/torchqdynamics_logo.png
Labels: 📚 documentation

#46 Implement adjoint autodiff for `mesolve`
  torchqdynamics/mesolve/mesolve.py
  torchqdynamics/mesolve/rouchon.py
  torchqdynamics/odeint.py
  torchqdynamics/sesolve/sesolve.py
  torchqdynamics/solver_utils.py
  torchqdynamics/utils.py
Labels: 🚀 feature, topic: mesolve

#47 Clean up code and minimal documentation for odeint/mesolve
  torchqdynamics/mesolve/euler.py
  torchqdynamics/mesolve/mesolve.py
  torchqdynamics/mesolve/rouchon.py
  torchqdynamics/odeint.py
  torchqdynamics/sesolve/euler.py
  torchqdynamics/sesolve/sesolve.py
  torchqdynamics/solver_utils.py
  torchqdynamics/types.py
  torchqdynamics/utils.py
Labels: 📚 documentation

#49 Adaptive time step solvers
  torchqdynamics/adaptive.py
  torchqdynamics/mesolve/adaptive.py
  torchqdynamics/mesolve/mesolve.py
  torchqdynamics/odeint.py
  torchqdynamics/sesolve/adaptive.py
  torchqdynamics/sesolve/euler.py
  torchqdynamics/sesolve/sesolve.py
  torchqdynamics/solver.py
  torchqdynamics/solver_options.py
  torchqdynamics/solver_utils.py
Labels: 🚀 feature
