Repository dynamiqs/dynamiqs, pull requests merged in 2024-04, with the labels that each got.

#534 Add Von Neumann entropy `dq.entropy_vn()`
  dynamiqs/utils/utils/__init__.py
  dynamiqs/utils/utils/general.py
  mkdocs.yml
Labels: feature, 🫴🏼 utils

#535 Support rectangular matrices in `dq.dag()`
  dynamiqs/_checks.py
  dynamiqs/utils/utils/general.py
  pyproject.toml
Labels: feature, 🫴🏼 utils

#529 Improve `dq.wigner()` (remove fft method, support arbitrary `xvec` and `yvec`)
  dynamiqs/plots/plots_wigner.py
  dynamiqs/utils/utils/wigner.py
  tests/utils/test_utils.py
Labels: feature, 🫴🏼 utils

#538 Wrap wigner for jit
  dynamiqs/plots/plots_wigner.py
  dynamiqs/utils/utils/wigner.py
  tests/test_plots.py
Labels: bug, 🫴🏼 utils

#539 Various fixes to `dq.wigner()`, mostly nit
  dynamiqs/utils/utils/wigner.py
Labels: 📚 documentation, 🫴🏼 utils

#540 Remove `dq.eigenstates()` (for now)
  dynamiqs/utils/utils/__init__.py
  dynamiqs/utils/utils/general.py
  mkdocs.yml
Labels: bug, 🫴🏼 utils

#543 Reorganise general.py file
  dynamiqs/utils/utils/general.py
Labels: organisation, 🫴🏼 utils

#533 Fix batching for PWC, Modulated and Summed TimeArrays
  dynamiqs/core/_utils.py
  dynamiqs/core/propagator_solver.py
  dynamiqs/mesolve/mesolve.py
  dynamiqs/sesolve/sesolve.py
  dynamiqs/time_array.py
  tests/sesolve/test_batching.py
Labels: bug, 🫴🏼 utils

#549 Nit comments
  dynamiqs/mesolve/mesolve.py
  dynamiqs/sesolve/sesolve.py
Labels: organisation, 🌀 solvers

#550 Document `dq.gridplot()` and `dq.mplstyle()`
  docs/hooks.py
  docs/python_api/index.md
  dynamiqs/conftest.py
  dynamiqs/plots/__init__.py
  dynamiqs/plots/utils.py
  dynamiqs/utils/random.py
  mkdocs.yml
Labels: 📚 documentation, 🎨 plot

#554 Add matmul_precision option for dq.set_precision
  dynamiqs/utils/jax_utils.py
  mkdocs.yml
Labels: feature, 🫴🏼 utils

#557 Split carthesian and non carthesian batching
  dynamiqs/core/_utils.py
  dynamiqs/mesolve/mesolve.py
  dynamiqs/sesolve/sesolve.py
Labels: bug, 🌀 solvers
