Repository dynamiqs/dynamiqs, pull requests merged in 2025-08, with the labels that each got.

#1012 Fix asqarray compatibility with qutip v5.2.0 auto_tidyup_dims
  dynamiqs/qarrays/qarray.py
  tests/qarrays/test_utils.py
Labels: bug, 🫴🏼 utils

#1008 Update the style of dq.plot.mplstyle
  docs/documentation/advanced_examples/kerr-oscillator.md
  dynamiqs/plot/hinton.py
  dynamiqs/plot/utils.py
  dynamiqs/plot/wigner.py
Labels: feature, 🎨 plot

#1013 Add a `vectorized` option to mesolve
  dynamiqs/integrators/apis/mesolve.py
  dynamiqs/integrators/core/diffrax_integrator.py
  dynamiqs/integrators/core/fixed_step_stochastic_integrator.py
  dynamiqs/options.py
  tests/mesolve/test_adaptive.py
Labels: feature, 🌀 solvers
