Repository dynamiqs/dynamiqs, pull requests merged in 2025-06, with the labels that each got.

#973 Fix (again) matrix multiplication dense @ sparse
  dynamiqs/qarrays/dense_qarray.py
  dynamiqs/qarrays/sparsedia_qarray.py
Labels: bug, 🔧 technical

#972 Add `dq.xyz()`
  docs/python_api/index.md
  dynamiqs/plot/qubit.py
  dynamiqs/utils/operators.py
  mkdocs.yml
  tests/utils/test_operators.py
Labels: feature, 🫴🏼 utils

#744 Add thermal_dm() state method
  docs/python_api/index.md
  dynamiqs/utils/states.py
  mkdocs.yml
Labels: feature, 🫴🏼 utils

#977 Add `dq.ground_dm()` and `dq.excited_dm()`
  docs/python_api/index.md
  dynamiqs/utils/states.py
  mkdocs.yml
Labels: feature, 🫴🏼 utils

#975 Add CompositeQArray structure
  docs/python_api/index.md
  dynamiqs/qarrays/__init__.py
  dynamiqs/qarrays/composite_qarray.py
  dynamiqs/qarrays/qarray.py
  dynamiqs/qarrays/sparsedia_qarray.py
  dynamiqs/utils/global_settings.py
  mkdocs.yml
  tests/qarrays/test_composite_qarray.py
Labels: feature, 🫴🏼 utils

#982 Fix ptrace test
  tests/utils/test_utils.py
Labels: bug, 🎯 tests

#981 Add `__repr__` to composite qarrays
  dynamiqs/qarrays/composite_qarray.py
Labels: feature, 🫴🏼 utils

#983 Add tracing tests for general utilities
  dynamiqs/utils/general.py
  tests/utils/test_general.py
  tests/utils/test_operators.py
Labels: feature, 🎯 tests

#969 Fix significant performance issue of fixed-step stochastic jump solver
  docs/documentation/advanced_examples/continuous-jump-measurement.md
  dynamiqs/integrators/core/fixed_step_stochastic_integrator.py
Labels: performance, 🌀 solvers

#984 Add tracing tests for all utilities
  tests/utils/test_operators.py
  tests/utils/test_optimal_control.py
  tests/utils/test_states.py
  tests/utils/test_vectorization.py
  tests/utils/test_wigner.py
Labels: feature, 🎯 tests

#967 Add `Rouchon2` and `Rouchon3` method for `dq.mesolve()`
  docs/python_api/index.md
  dynamiqs/integrators/apis/mesolve.py
  dynamiqs/integrators/core/rouchon_integrator.py
  dynamiqs/method.py
  mkdocs.yml
  tests/mesolve/test_rouchon.py
Labels: feature, 🌀 solvers

#968 Add adaptive rouchon 1-2 and 2-3 methods for `dq.mesolve()`
  docs/python_api/index.md
  dynamiqs/integrators/apis/mesolve.py
  dynamiqs/integrators/core/rouchon_integrator.py
  dynamiqs/method.py
  mkdocs.yml
  tests/mesolve/test_adaptive_rouchon.py
Labels: feature, 🌀 solvers

#985 Fix CI failing for adaptive Rouchon tests
  tests/mesolve/test_adaptive_rouchon.py
Labels: bug, 🎯 tests

#986 Merge fixed and adaptive Rouchon methods
  docs/python_api/index.md
  dynamiqs/integrators/apis/mesolve.py
  dynamiqs/integrators/core/fixed_step_stochastic_integrator.py
  dynamiqs/integrators/core/rouchon_integrator.py
  dynamiqs/method.py
  mkdocs.yml
  tests/mesolve/test_adaptive_rouchon.py
  tests/mesolve/test_fixed_rouchon.py
Labels: organisation, 🌀 solvers

#957 Add support for Hermitian matrix in `dq.norm()` and fix documentation
  dynamiqs/qarrays/dense_qarray.py
  dynamiqs/qarrays/qarray.py
  dynamiqs/qarrays/sparsedia_qarray.py
  dynamiqs/utils/general.py
Labels: feature, 🫴🏼 utils

#989 Fix CI by lowering tolerances for `dq.fidelity()` correctness test
  tests/utils/test_general.py
Labels: bug, 🎯 tests

#979 Fix `dq.eye_like()` and `dq.zeros_like()` default layout
  dynamiqs/utils/operators.py
  tests/utils/test_operators.py
Labels: bug, 🫴🏼 utils

#991 Fix adaptive Rouchon methods interpolation
  dynamiqs/integrators/core/rouchon_integrator.py
  tests/mesolve/test_adaptive_rouchon.py
Labels: bug, 🌀 solvers

#994 Remove the default method for the JumpMonteCarlo method
  dynamiqs/method.py
Labels: feature, 🌀 solvers

#992 Implement the `DiffusiveMonteCarlo` for `mesolve`
  docs/python_api/index.md
  dynamiqs/integrators/apis/dssesolve.py
  dynamiqs/integrators/apis/mepropagator.py
  dynamiqs/integrators/apis/mesolve.py
  dynamiqs/integrators/core/montecarlo_integrator.py
  dynamiqs/method.py
  dynamiqs/result.py
  mkdocs.yml
Labels: feature, 🌀 solvers

#995 Fix `JumpMonteCarlo` for `dq.mesolve()` when using `EulerJump`
  dynamiqs/integrators/apis/mesolve.py
  dynamiqs/result.py
Labels: bug, 🌀 solvers
